.wrap_Accueil {
    margin-top: 50px;
    position: relative;

    .triangle1 {
        position: absolute;
        top: 75px;
        left: 220px;
    }

    @screen sm {
        .triangle1 {
            left: 340px;
        }
    }

    @screen md {
        .triangle1 {
            left: 360px;
        }
    }

    @screen xl {
        .triangle1 {
            top: 84px;
            left: 573px;
        }
    }

    .triangle2 {
        position: absolute;
        bottom: 43px;
        left: 83px;
        transform: rotate(-102deg);

    }

    .triangle3 {
        position: absolute;
        bottom: 51px;
        right: 120px;
        transform: rotate(70deg);
    }

    .rond1 {
        position: absolute;
        top: 150px;
        right: 130px;
    }

    @screen sm {
        .rond1 {
            top: 250px;
            right: 100px;
        }
    }

    @screen lg {
        .rond1 {
            top: 250px;
            right: 140px;
        }
    }

    @screen xl {
        .rond1 {
            right: 80px;
        }
    }

    .rond2 {
        position: absolute;
        bottom: 200px;
        right: 360px;
    }

    @screen lg {
        .rond2 {
            bottom: 120px;
            right: 400px;
        }
    }

    @screen xl {
        .rond2 {
            bottom: 199px;
            right: 554px;
        }
    }

    .rond3 {
        position: absolute;
        bottom: 80px;
        left: 200px;
    }

    @screen sm {
        .rond3 {
            left: 250px;
        }
    }

    @screen xl {
        .rond3 {
            bottom: 104px;
            left: 374px;
        }
    }

    .image1 {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 74px;
        right: 200px;
        z-index: 1;
    }

    @screen sm {
        .image1 {
            width: 120px;
            height: 120px;
            top: 74px;
            right: 440px;
            z-index: -1;
        }
    }

    @screen xl {
        .image1 {
            width: 150px;
            height: 150px;
            right: 472px;
        }
    }
    @screen 2xl {
        .image1{
            width: 200px;
            height: 200px;
        }
    }

    .image2 {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 180px;
        left: 180px;
        z-index: 1;
    }

    @screen sm {
        .image2 {
            width: 160px;
            height: 160px;
            top: 180px;
            left: 300px;
            z-index: -1;
        }
    }

    @screen md {
        .image2 {
            top: 222px;
            left: 370px;
            z-index: -1;
        }
    }

    @screen lg {
        .image2 {
            width: 200px;
            height: 200px;
        }
    }

    @screen xl {
        .image2 {
            width: 250px;
            height: 250px;
            top: 222px;
            left: 448px;
        }
    }
    @screen 2xl {
        .image2{
            width: 300px;
            height: 300px;
            top:300px;
            left:650px
        }
    }

    .image3 {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 410px;
        right: 180px;
        z-index: 1;
    }

    @screen sm {
        .image3 {
            width: 140px;
            height: 140px;
            top: 340px;
            right: 140px;
            z-index: -1;
        }
    }

    @screen md {
        .image3 {
            width: 140px;
            height: 140px;
            top: 380px;
            right: 180px;
            z-index: -1;
        }
    }

    @screen lg {
        .image3 {
            top: 280px;
            right: 250px;
            z-index: -1;
        }
    }

    @screen xl {
        .image3 {
            width: 200px;
            height: 200px;
            top: 274px;
            right: 252px;
        }
    }
    @screen 2xl {
        .image3{
            width: 250px;
            height: 250px;
            top:400px
        }
    }


}

.accueil {
    @apply flex items-center flex-wrap relative;
    padding: 0 30px;
    height: 100vh;

    h1 {
        font-size: 40px;
        z-index: 2;

    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 12px;
    }
}

@screen sm {
    .accueil {
        padding: 0 60px;

        h1 {
            font-size: 60px;
        }

        p {
            font-size: 20px;
        }

        button {
            font-size: 16px;
        }
    }
}
@screen 2xl {
    .accueil {
        padding: 0 150px;

        h1 {
            font-size: 93px;
        }

        p {
            font-size: 35px;
        }

        button {
            font-size: 30px;
        }
    }
}

.textIntro {
    z-index: 2;
}

.letter {
    color: #fff;
}

.button {
    z-index: 2;
}