.wrap_cardContact {
    padding: 10px;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);

}


.input {
    @apply flex flex-col;

    label {
        color: #fff;
    }

    @screen 2xl {
        label {
            font-size: 30px
        }
    }

    ::before {
        border-bottom: 1px solid #fff !important
    }

    ::after {
        border-bottom: 1px solid #fff !important
    }

    input {
        color: #fff;
    }

    @screen 2xl {
        input {
            padding: 14px 0 15px;
            font-size:30px;
        }
    }

}

.cardMessage {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

@screen 2xl {
    .cardMessage {
        font-size: 30px;

    }
}

.message {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;


    textarea {
        padding: 10px;
        width: 250px;
        height: 80px;
        background-color: var(--primary);
        border: solid 5px #fff;
        border-radius: 20px;
        outline: none;
    }

    @screen sm {

        textarea {
            padding: 10px;
            width: 426px;
            height: 149px;
            background-color: var(--primary);
            border: solid 5px #fff;
            border-radius: 20px;
            outline: none;
        }

    }

    @screen 2xl {
        textarea {
            width: 450px;
        }
    }
}

@screen sm {
    .message {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.button {
    padding: 10px;
    font-size: 12px;
}


.buttonSend {
    padding: 10px 20px;
    background-color: var(--primary);
}

@screen 2xl {
    .buttonSend {
        font-size: 30px
    }
}

@screen lg {

    .wrap_cardContact {
        padding: 10px;
        background-color: var(--blue);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);

    }
}
@screen 2xl
 {

    .wrap_cardContact{
        padding:30px
    }
 }
@screen sm {
    // .message {
    //     padding: 10px;
    //     display: flex;
    //     flex-direction: column;
    //     gap: 10px;

    //     textarea {
    //         padding: 10px;
    //         width: 426px;
    //         height: 149px;
    //         background-color: var(--primary);
    //         border: solid 5px #fff;
    //         border-radius: 20px;
    //         outline: none;
    //     }
    // }

    .button {
        padding: 10px;
        font-size: 16px
    }

}